.searchBox {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.label {
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
