.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  border: none;
  padding: 10px; 
  text-align: left;
  vertical-align: middle; 
}

.table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.table tr:nth-child(odd) {
  background-color: #ffffff; 
}

.deleteBtnWrapper {
  display: flex; 
  justify-content: flex-end; 
  cursor: pointer;
  background: none; 
  border: none; 
  padding: 0; 
}

.deleteBtn {
  color: lightgray; 
}

.deleteBtn:hover {
  color: #e53935; 
}

.deleteBtn:active {
  color: red; 
}

.deleteBtn svg {
  vertical-align: middle; 
}

